body {
  padding: 0;
  font-family: Arial;
}

.navbar {
  height: 50px;
  background-color: #f95838; /* Navbar color */
  overflow: hidden;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between; /* Adjusts navbar items to the left and right */
  align-items: center;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

.navbar a:hover {
  color: #ddd;
}

.navbar img {
  /* Adjust the size of your logo image as needed */
  height: 35px;
  margin-right: 10px;
}

#HomePage {
  padding: 20px;
}

#HomePage h1 {
  color: #0D3B66;
  font-weight: bold;
}

#HomePage #Library {
  margin: -20px;
  padding: 30px 20px;
  background-color: #0D3B66;
  color: white;
}

#HomePage #Library h1 {
  color: white;
  font-weight: bold;
}

#HomePage button {
  height: 40px;
  margin: 20px;
  align-items: center;
  background-color: #f95838;
  border: none;
}

#HomePage .Cards {
  margin-bottom: 50px;
  width: 100%;
  border: none;
  background-color: #E9ECEF;
  text-align: center;
  position: relative;
}

#HomePage h4 {
  font-weight: bold;
  color: #0D3B66;
}

#HomePage .Preview {
  position: relative; 
  margin: 0;
  width: 100%; 
  height: 800px; 
  overflow: hidden;
  border: 10px solid #ADB5BD;
  border-radius: 10px;
  cursor: zoom-in;
  transition: transform 0.9s ease-out;
  text-align: left;
  z-index: 3;
  zoom: 0.3; 
}

#HomePage .Preview * {
  cursor: zoom-in;
}

#HomePage .Preview div {
  margin-top: -50px;
}

#HomePage .Preview #Background {
  margin-top: 0px;
}

#HomePage .Preview:hover {
  transform: scale(1.8); 
  transition: transform 0.9s ease-out;
  z-index: 5;
}

#Editor {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#Editor-nav {
  width: 150px;
  height: calc(100% - 50px);
  padding: 10px;
  left: 0;
  position: absolute;
  color: white;
  background-color: #0D3B66;
  border-right: 10px solid #CED4DA;
  z-index: 3;
}

#Editor-nav button {
  width: 100%;
  left: 10px;
  color: white;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}

#Toolbar {
  width: calc(100% - 150px);
  height: 50px;
  padding-left: 10px;
  left: 150px;
  position: absolute;
  background-color: #CED4DA;
  z-index: 2;
  color: #0D3B66;
  align-items: center;
}

#Toolbar .dropdown-menu {
  height: 150px;
  overflow-y: scroll;
}

#Toolbar button {
  background-color: transparent;
  border: none;
  color: #0D3B66;
  margin: 0 5px;
  font-size: 20px;
  line-height: 0;
}

#link-input:disabled {
  color: #ADB5BD;
}

.link-inputs {
  width: 500px;
}

.link-inputs label{
  width: 400px;
  text-overflow: ellipsis;
  overflow: hidden; 
}

#Toolbar .divider {
  color: #ADB5BD;
  margin: 0 10px;
}

#Toolbar #template-name {
  max-width: 150px;
  margin-top: 5px;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden; 
}

#Toolbar textarea {
  max-width: 150px;
  height: 30px;
  resize: none;
}

#Toolbar .load-dropdown {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden; 
}

#Template {
  width: calc(100% - 150px);
  height: calc(100% - 51px);
  left: 150px;
  position: absolute;
  background-color: white;
  z-index: -1;
  border-right: 10px solid #CED4DA;
  border-bottom: 10px solid #CED4DA;
}

#Background {
  width: calc(100% - 150px);
  height: calc(100% - 51px);
  z-index: 0;
  background-color: white;
}

.element {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: move;
  user-select: none;
  display: inline-block;
  overflow: visible;
  white-space: normal;
  z-index: 1;
  align-items: center;
}

.element a {
  all: unset;
}

.element p {
  margin: 10px 10px;
  line-height: 1.5;
}

#Loading {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 10;
}

#Loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -50px;
}